<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.mybatis.mapper.EmpMapper">
    <!--
     resultMap: set the custom mapping relation
        id: unique identifier
        type: set the type of entity in mapping relation

        sub-label:
           id: set mapping relation for primary key
           result: set mapping relation for normal field
                attributes:
                   property: set property's name in mapping relation
                   column: set the field name in mapping relation
     -->

    <resultMap id="empResultMap" type="Emp">
        <id property="eid" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
    </resultMap>
    
    <!-- List<Emp> getAllEmp(); -->
    <select id="getAllEmp" resultMap="empResultMap" resultType="Emp">
        select * from t_emp
    </select>
    <select id="getAllEmpOld" resultType="Emp">
        <!--select eid, emp_name as empName, age, sex, email, did from t_emp-->
        select * from t_emp
    </select>
    
    <resultMap id="empAndDeptResultMapOne" type="Emp">
        <id property="eid" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
    </resultMap>

    <!--
    association: it could deal with many-to-one mapping relation
    property: property name in many-to-one relation
    javaType: type of the property
    -->
    <resultMap id="empAndDeptResultMapTwo" type="Emp">
        <id property="eid" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <association property="dept" javaType="Dept">
            <id property="did" column="did"/>
            <result property="deptName" column="dept_name"/>
        </association>
    </resultMap>
    
    <!-- Emp getEmpAndDept(@Param("eid") Integer eid); -->
    <select id="getEmpAndDept" resultMap="empAndDeptResultMapTwo">
        select * from t_emp left join t_dept td on t_emp.did = td.did where t_emp.eid = #{eid}
    </select>
    
    <resultMap id="empAndDeptByStepResultMap" type="Emp">
        <id property="eid" column="eid"/>
        <result property="empName" column="emp_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <association property="dept"
                     select="com.fall.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="did"
                     fetchType="eager">
            <id property="did" column="did"/>
            <result property="deptName" column="dept_name"/>
        </association>
    </resultMap>
    <!--
     association: select: set a unique identifier for
                          hybrid lookup (namespace.SQLid or full class name for mapper interface.method name)
                  column: set the condition for hybrid lookup
     -->
    <!-- Emp getEmpAndDeptByStepOne(@Param("eid") Integer eid); -->
    <select id="getEmpAndDeptByStepOne" resultMap="empAndDeptByStepResultMap">
        select * from t_emp where eid = #{eid}
    </select>

    <!-- List<Emp> getDeptAndEmpByStepTwo(@Param("did") Integer did) -->
    <select id="getDeptAndEmpByStepTwo" resultType="Emp">
        select * from t_emp where did = #{did}
    </select>
</mapper>