<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <!-- set mybatis global setting -->
    <settings>
        <!-- map "_" to CamelCase: emp_name->empName -->
        <!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
        <!-- enable lazyLoading, but if setting the attribute 'fetchType' in
             label 'association' to 'eager', it'll still disable the lazyLoading-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    
    <typeAliases>
        <package name="com.fall.mybatis.pojo"/>
    </typeAliases>

    <environments default="">
        <environment id="">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.fall.mybatis.mapper"/>
    </mappers>
</configuration>
